/* You can add global styles to this file, and also import other style files */

body{
  background-image: url('assets/img/marjan-blan-marjanblan-_kUxT8WkoeY-unsplash.jpg');
  font-size: 3rem;
  text-align: center;
  h1{
    font-size: 6rem;
    font-family: 'The Nautigal', cursive;
  }
  a{
    display: block;
  }

  input[type="checkbox"]
  {
    width: 2rem;
    height: 2rem;
  }

  input[type="text"]
  {
    font-size:2rem;
  }
  button{
    font-size:2rem;
  }

  div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p{
    margin: 0.5rem 0;
  }
}
