/* You can add global styles to this file, and also import other style files */

body{
  background-image: url('assets/img/marjan-blan-marjanblan-_kUxT8WkoeY-unsplash.jpg');
  font-size: 1.5vw;
  text-align: center;
  h1{
    font-size: 4vw;
    font-family: 'The Nautigal', cursive;
  }
  a{
    display: block;
  }
}
